# 1. Data preprocessing #

In [28]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GroupShuffleSplit
from sklearn.model_selection import StratifiedShuffleSplit

In [29]:
original_data = pd.read_csv("../data/500_Person_Gender_Height_Weight_Index.csv")

In [30]:
original_data

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [31]:
index_info = ['Extremly weak', 'Weak', 'Normal', 
              'Overweight','Obesity','Extreme obesity']

In [32]:
print(" \nshow the boolean Dataframe : \n\n", original_data.isnull())
  
# Count total NaN at each column in a DataFrame
print(" \nCount total NaN at each column in a DataFrame : \n\n",
      original_data.isnull().sum())

show the boolean Dataframe :

      Gender  Height  Weight  Index
0     False   False   False  False
1     False   False   False  False
2     False   False   False  False
3     False   False   False  False
4     False   False   False  False
..      ...     ...     ...    ...
495   False   False   False  False
496   False   False   False  False
497   False   False   False  False
498   False   False   False  False
499   False   False   False  False

[500 rows x 4 columns]

Count total NaN at each column in a DataFrame :

 Gender    0
Height    0
Weight    0
Index     0
dtype: int64

In [33]:
X = original_data.iloc[:, 0:3]
y = original_data.iloc[:, 3:]

In [38]:
list(y['Index'])

[4,
 2,
 4,
 3,
 3,
 3,
 5,
 5,
 3,
 4,
 2,
 4,
 3,
 2,
 2,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 2,
 3,
 3,
 1,
 5,
 5,
 5,
 1,
 1,
 5,
 5,
 4,
 3,
 4,
 5,
 2,
 4,
 5,
 2,
 5,
 4,
 2,
 4,
 4,
 3,
 5,
 5,
 1,
 5,
 4,
 4,
 3,
 4,
 5,
 3,
 5,
 0,
 5,
 0,
 2,
 5,
 5,
 4,
 2,
 4,
 4,
 2,
 4,
 5,
 2,
 3,
 4,
 4,
 4,
 4,
 0,
 3,
 5,
 3,
 4,
 5,
 0,
 5,
 5,
 5,
 5,
 5,
 3,
 3,
 2,
 4,
 5,
 4,
 5,
 1,
 0,
 4,
 5,
 5,
 4,
 4,
 4,
 5,
 5,
 4,
 3,
 4,
 5,
 4,
 2,
 4,
 3,
 2,
 5,
 5,
 5,
 4,
 4,
 4,
 5,
 5,
 4,
 4,
 4,
 5,
 2,
 5,
 2,
 5,
 4,
 5,
 5,
 5,
 3,
 5,
 5,
 2,
 4,
 5,
 5,
 5,
 4,
 3,
 5,
 3,
 3,
 0,
 3,
 3,
 5,
 5,
 4,
 3,
 5,
 3,
 4,
 2,
 2,
 3,
 5,
 4,
 2,
 4,
 5,
 3,
 2,
 4,
 5,
 5,
 4,
 4,
 4,
 4,
 3,
 5,
 3,
 3,
 4,
 4,
 2,
 3,
 3,
 5,
 3,
 5,
 4,
 5,
 5,
 4,
 5,
 5,
 5,
 4,
 4,
 5,
 5,
 1,
 3,
 4,
 4,
 5,
 4,
 5,
 4,
 3,
 4,
 4,
 5,
 5,
 5,
 0,
 5,
 5,
 5,
 5,
 5,
 2,
 5,
 4,
 5,
 0,
 5,
 3,
 4,
 5,
 5,
 4,
 2,
 3,
 3,
 4,
 3,
 5,
 5,
 2,
 5,
 3,
 2,
 1,
 5,
 0,
 5,
 3,
 5,
 3,
 4,
 3,
 5,
 5,
 5,
 5,
 2,
 4,
 5,
 5,
 4,
 5,
 5,
 5,
 2,
 4,
 5,
 5,
 5,
 5,
 1,
 5,
 5,
 4,
 0,
 3,
 3,
 4,
 2,
 3,
 1,
 1,
 5,
 5,
 4,
 4,
 4,
 4,
 5,
 2,
 5,
 4,
 3,
 3,
 4,
 5,
 5,
 2,
 4,
 3,
 4,
 5,
 4,
 2,
 4,
 5,
 4,
 5,
 5,
 1,
 5,
 5,
 5,
 5,
 2,
 2,
 5,
 3,
 5,
 4,
 5,
 4,
 4,
 5,
 5,
 4,
 2,
 2,
 4,
 3,
 3,
 5,
 4,
 2,
 2,
 2,
 2,
 5,
 5,
 4,
 5,
 3,
 4,
 4,
 3,
 4,
 4,
 2,
 2,
 5,
 2,
 2,
 2,
 2,
 5,
 0,
 3,
 4,
 5,
 1,
 4,
 1,
 4,
 5,
 4,
 5,
 5,
 3,
 4,
 5,
 4,
 3,
 5,
 1,
 2,
 4,
 5,
 5,
 5,
 5,
 3,
 5,
 1,
 4,
 5,
 5,
 2,
 5,
 4,
 3,
 2,
 2,
 2,
 2,
 3,
 5,
 3,
 3,
 5,
 3,
 5,
 3,
 4,
 2,
 4,
 4,
 5,
 2,
 5,
 5,
 5,
 1,
 4,
 5,
 5,
 5,
 4,
 5,
 2,
 5,
 2,
 1,
 5,
 5,
 4,
 1,
 1,
 4,
 4,
 4,
 4,
 2,
 5,
 5,
 4,
 2,
 5,
 5,
 5,
 1,
 5,
 4,
 2,
 5,
 5,
 4,
 5,
 4,
 4,
 5,
 5,
 5,
 4,
 5,
 0,
 2,
 2,
 4,
 2,
 4,
 5,
 4,
 5,
 1,
 5,
 2,
 5,
 3,
 5,
 5,
 3,
 5,
 5,
 2,
 5,
 3,
 4,
 5,
 2,
 2,
 5,
 5,
 4,
 5,
 4,
 4,
 4,
 5,
 2,
 4,
 5,
 2,
 5,
 0,
 1,
 5,
 5,
 4,
 5,
 5,
 5]

In [40]:
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=1004)
for train_idx, test_idx in split.split(X, y['Index']):

    X_train = X[train_idx]

    X_test = X[test_idx]

    y_train = y[train_idx]

    y_test = y[test_idx]

KeyError: "None of [Int64Index([265, 255, 341, 160, 114, 427,  99, 274,  83,  34,\n            ...\n             65, 372, 404, 174, 346, 182, 151, 168, 387,  49],\n           dtype='int64', length=400)] are in the [columns]"

In [25]:
len(test_inds)

266

In [12]:
X = original_data.iloc[:, 0:3]
y = original_data.iloc[:, 3:]

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=3077)

In [16]:
X_train

     Gender  Height  Weight
160    Male     199      99
161  Female     184      76
248  Female     188      90
352  Female     160      51
106    Male     166     160
..      ...     ...     ...
24   Female     172      67
158  Female     187     102
67   Female     168      59
173  Female     196     131
299    Male     151      82

[400 rows x 3 columns]

# 2. Exploratoly Data Analytics #

# Modeling #

### Decision Tree ###

### Random Forest ###

### Losgistic Regression ###

### Support Vector Machine ###

### Naive Bayes ###

### Neural Network ###